
.control{
    margin-bottom: 15px;
}
.control img{
    height: 350px;
    margin-top: 20px;
}
.control input , .control textarea{
    display: block;
    width: 350px;
}
.control input[type="submit"]{
    display: inline-block;
    margin: 20px 50px;
    width: 200px;
}