.lista-items{
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
}
.pedidos{
	max-height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
}
.imagen{
	height: 80px;
	width: 80px;
	margin-right: 4px;
	margin-bottom: 4px;
	float: left;
}
.title{
	margin-top: 0;
	text-align: left;
}
.container-cantidad {
    margin-top: 4px;
}
.container-cantidad label {
	margin-right: 3px;
}

.container-precio{
	float: right;
}
.container-cantidadprecio{
	float: right;
}
.descripcion{
	text-align: justify;
}
.precio{
	margin-left: 60px;
}

